<%= form_tag(:controller => 'server', :action => 'login') do %>
  <% username = username_from_openid_identity(@oidreq.identity) %>
  
  <table>
    <tr>
      <th><%=t 'login.username' %>:</th>
      <td>
        <%=h username %>
        <%= hidden_field_tag('username', username) %>
      </td>
    </tr>
    <tr>
      <th><%=t 'login.password' %>:</th>
      <td><%= password_field_tag %></td>
    </tr>
  </table>
  
  <%= submit_tag(t('login.login')) %>
  <%= link_to(t('login.cancel'), @oidreq.cancel_url) %>
<% end %>
